.App {
  text-align: center;
  min-height: 70vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  width: 100%;
  height: 100%;
  color:#fff;
  font-family:sans-serif;
  display: grid;
  place-items: center;
  border-radius: 5px;
  margin-bottom: 5%;
}

body {
  margin: 0%;
  padding: 0%;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
 /* font-family: 'Times New Roman', Times, serif; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  padding:20px;
  background-color: rgba(0,0,0,0.3);
  margin-bottom:20px;
  padding-left:40px;
  padding-right:40px;
  border: 1px solid white;
  border-radius: 4px;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.hide {
  opacity: 0 !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: white;
  background-color: rgb(44, 44, 44);
  padding: 30px;
  margin-top:30px;
  position:sticky;
  top:10vh;
  width:100%;
}
.joinChatContainers {
  /* font-family: 'Times New Roman', Times, serif; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  padding:20px;
  background-color: rgba(0,0,0,0.3);
  margin-bottom:65px;
  padding-left:40px;
  padding-right:40px;
  border: 1px solid white;
  border-radius: 4px;
}

.joinChatContainers h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainers input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainers button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainers button:hover {
  background: #2e7d32;
}


.chat-body::-webkit-scrollbar {
  width: 10px; 
}

.chat-body::-webkit-scrollbar-track {
  background-color: black;
}

.chat-body::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

*::-webkit-scrollbar {
  width: 10px; 
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}